## Premier League Predictions Game
### Notebook

In [ ]:
# automatic reading of .py files for live notebook changes
%load_ext autoreload
%autoreload 2

In [1]:
# Import libraries and modules
import sys
sys.path.append('./src')
from data_loader import fetch_fpl_data
from data_transform import get_league_history, validate_team_names, calculate_leaderboard

In [2]:
# Load Data
df_predictions, df_teams, df_fixtures = fetch_fpl_data()

Predictions data fetched: 140 predictions
FPL API data fetched: 380 fixtures

In [14]:
# Transform Data
validate_team_names(
    df_predictions=df_predictions,
    df_teams=df_teams)

df_league = get_league_history(
    df_fixtures=df_fixtures, 
    df_teams=df_teams)

df_leaderboard, df_merged = calculate_leaderboard(
    df_predictions=df_predictions, 
    df_league=df_league
)

Warning: teams in the CSV do not match the API: {'Nottingham Forest'}
24 completed Gameweeks. Max date: 2026-02-01
Historical league table recreated
Leaderboard calculated

In [15]:
latest_gw = df_leaderboard['gameweek'].max()
df_leaderboard_latest = (
    df_leaderboard[df_leaderboard['gameweek'] == latest_gw]
    .sort_values('total_score', ascending=False)
    .reset_index(drop=True)
)
df_leaderboard_latest.head(7)

,gameweek,name,proximity_score,perfect_match_score,boldness_score,total_score,total_score_no_boldness,rank,rank_no_boldness,rank_movement,rank_no_boldness_movement,total_score_movement,total_score_no_boldness_movement
0,24,Marc,86,20,0.0,106.0,106,1.0,1.0,2.0,0.0,5.0,5.0
1,24,Opta,74,5,23.0,102.0,79,2.0,4.0,0.0,1.0,-6.0,-6.0
2,24,Ed,74,10,15.0,99.0,84,3.0,2.0,-2.0,0.0,-11.0,-11.0
3,24,Luke,70,10,15.0,95.0,80,4.0,3.0,-1.0,1.0,-6.0,-6.0
4,24,Tom,74,5,16.0,95.0,79,4.0,4.0,2.0,2.0,10.0,2.0
5,24,Jay,68,10,0.0,78.0,78,6.0,6.0,1.0,1.0,3.0,3.0
6,24,Jonny,72,5,0.0,77.0,77,7.0,7.0,-2.0,-4.0,-15.0,-15.0

In [20]:
df_merged.loc[
    (df_merged['gameweek'] == latest_gw) & 
    (df_merged['name'] == 'Marc')
].sort_values('position', ascending=True).reset_index(drop=True)

,gameweek,team,position,name,predicted_position,predicted_difference,proximity_score,perfect_match_score,crowd_mean,crowd_std,z_score,boldness_score,total_score,total_score_no_boldness
0,24,Arsenal,1,Marc,3,-2,6,0,2.857143,1.069045,0.133631,0.0,6.0,6
1,24,Man City,2,Marc,2,0,10,5,2.428571,0.975900,0.439155,0.0,15.0,15
2,24,Aston Villa,3,Marc,5,-2,6,0,6.000000,1.000000,1.000000,0.0,6.0,6
3,24,Man Utd,4,Marc,8,-4,2,0,8.857143,2.267787,0.377964,0.0,2.0,2
4,24,Chelsea,5,Marc,4,1,8,0,3.428571,0.786796,0.726273,0.0,8.0,8
5,24,Liverpool,6,Marc,1,5,0,0,1.285714,0.487950,0.585540,0.0,0.0,0
6,24,Brentford,7,Marc,17,-10,0,0,14.428571,2.507133,1.025645,0.0,0.0,0
7,24,Fulham,8,Marc,14,-6,0,0,13.000000,1.632993,0.612372,0.0,0.0,0
8,24,Everton,9,Marc,10,-1,8,0,11.714286,1.976047,0.867533,0.0,8.0,8
9,24,Newcastle,10,Marc,7,3,4,0,5.857143,0.690066,1.656157,0.0,4.0,4
10,24,Sunderland,11,Marc,20,-9,0,0,19.428571,0.786796,0.726273,0.0,0.0,0
11,24,Bournemouth,12,Marc,12,0,10,5,12.285714,2.058663,0.138786,0.0,15.0,15
12,24,Brighton,13,Marc,13,0,10,5,10.000000,2.516611,1.192079,0.0,15.0,15
13,24,Spurs,14,Marc,6,8,0,0,8.142857,3.236694,0.662051,0.0,0.0,0
14,24,Crystal Palace,15,Marc,9,6,0,0,10.000000,2.380476,0.420084,0.0,0.0,0
15,24,Leeds,16,Marc,18,-2,6,0,18.285714,0.951190,0.300376,0.0,6.0,6
16,24,Nott'm Forest,17,Marc,11,6,0,0,10.833333,0.752773,0.221404,0.0,0.0,0
17,24,West Ham,18,Marc,15,3,4,0,16.000000,1.154701,0.866025,0.0,4.0,4
18,24,Burnley,19,Marc,19,0,10,5,19.142857,0.690066,0.207020,0.0,15.0,15
19,24,Wolves,20,Marc,16,4,2,0,16.571429,0.534522,1.069045,0.0,2.0,2

In [ ]:
# Ed received a bold bonus for West Ham because the s.d. for West Ham was very low 
# ie West Ham had high consensus for a pick around 16th
df_merged.loc[
    (df_merged['gameweek'] == latest_gw) & 
    (df_merged['team'] == 'West Ham')
].sort_values('total_score', ascending=False).reset_index(drop=True)